.whiteSpace{
	background-color:rgb(245,222,179);
}
.blackSpace{
	background-color:rgb(139,69,19);
}
.chessSquare {
	position:relative;
  	width:7%;
	margin:0px;
	padding:0%;
	border:0px;
	display:inline-block;
	padding-top:0%;
	padding-left:0%;
}
.backgroundGray{
	background-color:rgb(105,105,105);
}
.chessSquare:after {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}
.chessRow{
	display:block;
	width:80%;
	margin:0px;
	font-size:0px;
}
.chessRow > div {
	font-size: 1rem; 
	display: inline-block; 
}
.chessBoard{
	display:block;
	width:800px;
	height:800px;
}
.piece {
  position:absolute;
  width: 100%;
  margin:auto;
}
.rowLabel{
	position:absolute;
	width:0.5%;
	top:0;
	left:0;
	display:none;
	/* disabled need to fix and make it not alter document flow*/
}
.colLabel{
	position:absolute;
	width:0.5%;
	bottom:0;
	right:0;
	display:none; 
	/* disabled need to fix and make it not alter document flow*/
}
.whiteColor{
	color:rgb(245,222,179);
}
.blackColor{
	color:rgb(139,69,19);
}
.data{
	display:none;
}