<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Chess in Python</title>
	{% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'chess/bulma.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chess/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'chess/main.js' %}"></script>
    <div style = "display:none"></div>
</head>
<body class = backgroundGray>
	<section class = "hero">
		<div class = "hero-body">
			<div class = "container">
				<h1 class = "title" style = "color:rgb(50,205,50)">Chess in Python/Django by Erik Nordland</h1>
			</div>
			<div class = "container" id = "board">
				{% for row in defaultBoard %}
					{% if row.1 != None %}
						<div class = "chessRow">
						{% for space in row %}
							{% if space != None %}
								{% if space.get_color == 1 %}
									<div class = "chessSquare whiteSpace" id = "{{space.label}}"></div>
								{% else %}
									<div class = "chessSquare blackSpace" id = "{{space.label}}"></div>
								{% endif %}
							{% endif %}
						{% endfor %}
						</div>
					{% endif %}
				{% endfor %}	
			</div>
		</div>
	</section>
</body>
</html>